@import '../../styles/variables';

.topSection,
.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topSection {
  padding-top: 32px;
  padding-bottom: 42px;
}

.toggleList {
  margin-right: 8px;
  font-size: 16px;
}

.inputGroupWrapper {
  position: relative;
}

.linkIcon {
  position: absolute;
  top: 8px;
  left: 12px;
  color: $primary-color;
  font-size: 16px;
}

.inputField,
.button {
  font-family: $font-inter;
  height: 32px;
  border-radius: 4px;
}

.inputField {
  font-weight: 400;
  width: 246px;
  padding: 4px 16px 4px 37px;
  margin-right: 16px;
  border: 1px solid $gray-light;
  box-shadow: inset 0px 0px 1px rgba($black, 0.05),
    inset 0px 1px 3px rgba($black, 0.1);

  &::placeholder {
    color: $gray;
  }
}

.button {
  padding-right: 30px;
  padding-left: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex-shrink: 0;
  width: 182px;
  margin-right: 24px;
  margin-bottom: 24px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    cursor: move;
  }
}

.cardClose {
  position: absolute;
  top: 12px;
  right: 12px;
}

.cardImage {
  height: 160px;
  background: linear-gradient(307.7deg, $primary-color-light 0%, $white 100%);

  & > img {
    pointer-events: none;
    object-fit: contain;
  }
}

.cardInfo {
  height: 40px;
  padding: 12px 8px;
  border: 1px solid $gray-light;
  background-color: $white;
  font-family: $font-inter;
  font-size: 12px;
  line-height: 16px;
}

.closeModalWrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeModal {
  width: 350px;
  height: 208px;
  padding: 24px;
  background-color: $white;
  box-shadow: 0px 0px 1px rgba($black, 0.05), 0px 16px 24px rgba($black, 0.1);
  border-radius: 10px;
}

.modalTitle {
  font-family: $font-inter;
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.modalText {
  font-size: 16px;
  line-height: 28px;
  color: $gray;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  & > button {
    margin-left: 12px;
  }
}
