@import '../../styles/variables';

.container {
  padding-top: 40px;
  padding-bottom: 32px;
  border-bottom: 1px solid $gray-light;
}

.input {
  font-family: $font-inter;
  font-size: 31px;
  font-weight: 700;
  line-height: 48px;
  border: 0;
}
