$primary-color: #1e90ff;
$primary-color-light: #d2e9ff;
$black: #212121;
$gray: #666;
$gray-light: #e6e6e6;
$gray-lighter: #f9f9f9;
$white: #fff;

$font-oxygen: 'Oxygen', sans-serif;
$font-inter: 'Inter', sans-serif;

$side-bar-width: 184px;
