@import './variables';
@import '~modern-normalize/modern-normalize.css';

html,
body {
  font-family: $font-oxygen;
  color: $black;
  font-size: 14px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $font-inter;
}

h1 {
  font-size: 31px;
  line-height: 48px;
}

h2 {
  font-size: 21px;
  line-height: 32px;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}

.main-layout {
  margin-left: $side-bar-width;
}

.container {
  position: relative;
  max-width: 883px;
  padding-right: 40px;
  padding-left: 40px;
}
