@import '../../styles/variables';

.sideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $side-bar-width;
  padding: 32px 0;
  border-right: 1px solid $gray-light;
}

.title,
.listItem,
.listItemName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;
}

.title {
  padding: 0 16px;
  margin-bottom: 16px;
}

.addButton {
  color: $primary-color;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease-in;

  &:hover {
    transform: scale3d(1.5, 1.5, 1);
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItemWrapper {
  transform: scale3d(1, 1, 0) !important;
  transition: transform 0.3s ease-in;

  &.grow {
    transform: scale3d(1.5, 1.5, 0) !important;
  }
}

.listItem {
  width: 100%;
  padding: 4px 16px;
  border-radius: 8px;
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: all 0.3s ease-in;
  transition-property: transform, color, background-color;

  &.grow {
    transform: scale3d(1.5, 1.5, 1);
  }

  &:hover {
    color: $primary-color;
    background-color: $gray-lighter;

    & > .count {
      color: $black;
      background-color: $primary-color-light;
      border-color: $white;
    }
  }
}

.listItemName > svg {
  margin-right: 18px;
}

.count {
  font-family: $font-inter;
  margin-left: auto;
  padding: 1px 6px;
  color: $black;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: $gray-light;
  transition: all 0.3s ease-in;
  transition-property: color, background-color;
}
